/* noto-serif-tc-regular - chinese-traditional */
@font-face {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/noto-serif-tc-v6-chinese-traditional-regular.eot"); /* IE9 Compat Modes */
  src: local("Noto Serif TC"), local("NotoSerifTC-Regular"),
    url("../../fonts/noto-serif-tc-v6-chinese-traditional-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../../fonts/noto-serif-tc-v6-chinese-traditional-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/noto-serif-tc-v6-chinese-traditional-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../fonts/noto-serif-tc-v6-chinese-traditional-regular.svg#NotoSerifTC")
      format("svg"); /* Legacy iOS */
}
/* noto-serif-tc-900 - chinese-traditional */
@font-face {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/noto-serif-tc-v6-chinese-traditional-900.eot"); /* IE9 Compat Modes */
  src: local("Noto Serif TC Black"), local("NotoSerifTC-Black"),
    url("../../fonts/noto-serif-tc-v6-chinese-traditional-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../../fonts/noto-serif-tc-v6-chinese-traditional-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/noto-serif-tc-v6-chinese-traditional-900.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../fonts/noto-serif-tc-v6-chinese-traditional-900.svg#NotoSerifTC")
      format("svg"); /* Legacy iOS */
}
/* noto-serif-regular - latin */
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/noto-serif-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Noto Serif"), local("NotoSerif"),
    url("../../fonts/noto-serif-v8-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/noto-serif-v8-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../fonts/noto-serif-v8-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../../fonts/noto-serif-v8-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/noto-serif-v8-latin-regular.svg#NotoSerif") format("svg"); /* Legacy iOS */
}
/* noto-serif-700 - latin */
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/noto-serif-v8-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"),
    url("../../fonts/noto-serif-v8-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../fonts/noto-serif-v8-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../../fonts/noto-serif-v8-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../../fonts/noto-serif-v8-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../fonts/noto-serif-v8-latin-700.svg#NotoSerif") format("svg"); /* Legacy iOS */
}
// font-size
.txt-SecBig-Mobile {
  @include font-size(24);
  font-weight: 900;
}

.txt-Content,
.txt-Content h2,
.txt-Content h3,
.txt-Content h4,
.txt-Content h5,
.txt-Content h6,
.tabPortBtn,
.tabPwithImg,
.tab h3,
.tab p,
.loader__txt {
  @include font-size(16);
  font-weight: normal;
}

.txt-small,
.txt-small h2,
.txt-small h3,
.txt-small h4,
.txt-small h5 {
  @include font-size(12);
  font-weight: normal;
}
@include desktop {
  .txt-SecBig-Mobile {
    @include font-size(36);
    font-weight: 900;
  }
  .col-3-card__titleWrap__title,
  .tab h3,
  .loader__txt {
    @include font-size(24);
    font-weight: 900;
  }
  .txt-small {
    @include font-size(16);
    font-weight: normal;
  }
  .footNote {
    @include font-size(12);
    font-weight: normal;
  }
}
