/* background color============================================ */
.secID,
.secBrandManul,
.secSocialandDM,
.secExp,
header,
.secSkills,
nav {
  background-color: $color-transparent;
}

.secPhotos {
  background: #232526;
  background: -webkit-linear-gradient(60deg, #414345, #232526);
  background: linear-gradient(60deg, #414345, #232526);
}

/*                                      *\

                  loader
                  
\*                                      */

.loader {
  @include positionMid(fixed);
  width: 120px;
  height: 120px;
  z-index: 9999;
  .loader__spinner {
    @include circleEl(60px);
    border: 7px solid rgba(255, 255, 255, 0.3);
    border-top: 7px solid rgba(54, 139, 196, 0.9);
    animation: spin 0.7s ease-out infinite;
    margin: 20px 30px;
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  .loader__txt {
    width: 100%;
    text-align: center;
    color: $color-textMark;
    padding-left: 0.3em;
  }
}

/**                                     **\

                * header

\**                                     **/

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../../images/headerBg.jpg);
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: cover;
  @include desktop {
    position: fixed;
    height: 100%;
    width: 36%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16);
  }
  .wrapper {
    padding-left: 37px;
  }
}
.header__wrapper {
  @include desktop {
    padding: 17vh 37px;
  }
}

/*                                      *\

            header__navBarOnPc
               電腦版navbar

\*                                      */

.header__navBarOnPc {
  display: none;
  @include desktop {
    display: block;
    position: relative;
    width: 100%;
    top: -80px;
    margin: 0 auto;
    background-color: transparent;
    letter-spacing: 0.48px;
  }
}
.header__navBarOnPc__wrap {
  @include desktop {
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    li {
      float: left;
      width: 20%;
    }
    a {
      display: block;
      position: relative;
      width: 35px;
      line-height: 1.2em;
      margin: 0 auto;
      padding: 15px 0 5px;
      text-align: center;
      color: $color-gray;
      border-top: 5px solid transparent;
      z-index: 1;
      transition: 0.3s;
      &:hover {
        color: $color-white;
        transition: 0.3s;
      }
      &:hover:after {
        height: 125%;
        transition: 0.3s;
      }
      &:after {
        content: "";
        position: absolute;
        top: -15px;
        left: -25%;
        width: 150%;
        height: 0;
        z-index: -1;
        background: $color-mainGradient;
        transition: 0.3s;
      }
    }
    .js--header__navBarOnPc--active {
      border-top-color: $color-primary;
      color: $color-primary;
    }
  }
}

/*                                      *\

        header__wrapper__txtwrap
         header 個人介紹文字區域

\*                                      */

.header__wrapper__txtwrap {
  text-align: center;
  height: 50vh;
  width: 80%;
  min-width: 256px;
  @include positionMid(absolute);
  .header__nameZh {
    @include font-size(24);
    font-weight: 900;
    display: inline;
    @include landscape-beyond1024 {
      @include font-size(16);
    }
    @include desktop {
      @include font-size(24);
      letter-spacing: 3.6px;
      margin: auto;
      max-width: 350px;
    }
  }

  .header__nameEn {
    @include font-size(16);
    font-weight: normal;
    display: inline;
  }
  // birth
  .header__secondTitle {
    display: inline-block;
    margin: 1em auto;
    padding: 0.2em 5em;
    @include font-size(16);
    font-weight: normal;
    color: $color-primary;
    border: 1px solid $color-primary;
    @include landscape-beyond1024 {
      display: none;
    }
    @include desktop {
      display: inline-block;
    }
  }
  .header__title {
    // @include mobile {
    //   @include font-size(28);
    // }
    font-size: 9vw;
    line-height: 1.5em;
    font-weight: 900;
    @include pad {
      font-size: 6vw;
    }
    @include landscape-beyond1024 {
      font-size: 8vh;
      margin-top: 0.3em;
    }
    @include desktop {
      font-size: 2.5vw;
      letter-spacing: 0.1em;
    }
    @include desktop-xxl {
      @include font-size(36);
    }
  }
}

/*                                      *\

        .header__wrapper__linkWrap
           header__底部連結的容器

\*                                      */

.header__wrapper__linkWrap {
  display: block;
  margin: 2vh auto;
  max-width: 100%;
  @include desktop {
    max-width: 350px;
  }
}

/*                                      *\

        .header__wrapper__linkWrap
            socialmedia part
            電腦版__社群媒體連結

\*                                      */

.header__linkWrap__linkOnPc {
  display: none;
}
.header__linkWrap__linkOnPc {
  @include desktop {
    width: 100%;
    overflow: hidden;
    margin: 0;
    display: block;
    padding: 12px 0 12px 1.5em;
    color: $color-gray;
    transition: 0.3s;
    &:hover i {
      color: $color-white;
    }
    &:hover {
      background: $color-mainGradient;
      color: $color-white;
      padding-left: 2.5em;
      transition: 0.3s;
    }
    .header__linkWrap__linkOnPc__icon,
    .header__linkWrap__linkOnPc__txt {
      float: left;
      height: 30px;
      line-height: 30px;
    }
    .header__linkWrap__linkOnPc__txt {
      display: block;
      margin-left: 1em;
      @include font-size(16);
    }
    .header__linkWrap__linkOnPc__icon {
      @include font-size(24);
    }
  }
}

/*                                      *\

        .header__wrapper__linkWrap
              portfolio part
              作品集、履歷連結

\*                                      */

.header__linkWrap__linkAllDevice {
  display: inline-block;
  width: 40%;
  margin: 1em 0.5em;
  padding: 0.3em 0;
  line-height: 1em;
  // vertical-align: middle;
  background-color: $color-white;
  .header__linkAllDevice__icon {
    margin-left: 0.5em;
  }
  @include landscape-beyond1024 {
    margin: 1vh 2%;
  }

  @include desktop {
    width: 45%;
    margin: 12px 5% 0 0;
    float: left;
    border-radius: 5px 15px 15px 5px;
    background: $color-mainGradient;
    color: $color-white;
    &:hover {
      background: $color-textMark;
      color: $color-white;
    }
  }
}
.header__linkAllDevice__title {
  font-weight: normal;
}
.header__linkAllDevice__icon,
.header__linkAllDevice__title {
  display: inline-block;
  font-size: 4vw;
  @include pad {
    font-size: 3vw;
  }
  @include landscape-beyond1024 {
    font-size: 4vh;
  }
  @include desktop {
    font-size: 2vh;
  }
}

/*                                      *\

          .header__CTA-Btn
      contact button only on mobile
            手機的聯絡我

\*                                      */

.header__CTA-Btn {
  display: inline-block;
  padding: 0.2em 0;
  width: 50%;
  background: $color-mainGradient;
  color: $color-white;
  border-radius: 50px;
  font-size: 5vw;
  text-align: center;
  @include mobile {
    @include font-size(16);
  }
  @include pad {
    font-size: 3vw;
  }
  @include landscape-beyond1024 {
    font-size: 3vh;
    width: 50vh;
  }
  @include desktop {
    display: none;
  }
}

/*                                      *\

          .header__mobileNav
         nav page only on mobile
              手機的導航頁 

\*                                      */

.header__mobileNav {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: $color-white;
  .wrapper {
    height: 100%;
    min-height: 568px;
    padding: 15px 15vw;
    @include landscape-beyond1024 {
      min-height: 320px;
      padding: 0 0 0 50vw;
    }
  }
}

.header__mobileNav__bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90px;
  overflow: hidden;
  padding: 35px 15px 0 15px;
  background: $color-mainGradient;
  a {
    color: $color-white;
    line-height: 20px;
    height: 20px;
  }
  .header__mobileNav__goTopBtn {
    color: $color-white;
    float: left;
    line-height: 20px;
    margin-right: 1em;
    margin-bottom: 10vh;
    font-weight: 900;
    border: none;
    @include landscape-beyond1024 {
      margin-bottom: 1em;
      font-size: 6vh;
    }
  }
  @include landscape-beyond1024 {
    height: 100%;
    width: 40vw;
    padding: 20px;
  }
}
.header__mobileNav__bar h2 {
  margin-right: 1em;
  float: left;
  @include landscape-beyond1024 {
    margin-bottom: 0.5em;
    font-size: 4vh;
    clear: both;
  }
}

/*                                      *\

      header__mobileNav__linkWrap 
          手機的導航頁__連結文字 

\*                                      */

.header__mobileNav__linkWrap {
  margin-top: 18vh;
  @include landscape-beyond1024 {
    margin-top: 15vh;
  }
  a {
    display: block;
    width: 100%;
    margin-bottom: 3vh;
    text-align: left;
    @include landscape-beyond1024 {
      font-size: 6vh;
    }
  }
  h3 {
    color: $color-black;
    position: relative;
    display: inline-block;
    border-bottom: 1px solid $color-textMark;
    font-size: 6.5vw;
    line-height: 1.2em;
  }
  p {
    margin: auto;
    min-width: 75px;
    font-size: 4vw;
    line-height: 1.5em;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(110%);
    color: $color-gray;
    @include landscape-beyond1024 {
      font-size: 4vh;
    }
    &:after {
      content: "";
      bottom: -1px;
      right: 0;
      width: 110%;
      height: 1px;
      background-color: $color-textMark;
      position: absolute;
    }
  }
}

.header__mobileNav__socialLinkWrap {
  position: absolute;
  left: 15vw;
  bottom: 25vh;
  padding: 0;
  max-width: 80%;
  @include pad {
    bottom: 15vh;
  }
  @include landscape-beyond1024 {
    bottom: 20vh;
    left: 20px;
  }
}

.header__mobileNav__socialLinkWrap__link {
  float: left;
  margin-right: 15px;
  @include landscape-beyond1024 {
    display: block;
    clear: both;
    i,
    h2 {
      color: $color-white;
      line-height: 1em;
    }
  }
  a,
  h3 {
    color: $color-gray;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    text-align: left;
  }
  i {
    color: $color-gray;
    line-height: 30px;
    vertical-align: middle;
    margin-right: 0.5em;
  }
}

/*                                      *\

        header__navbarToggleBtn 
            手機navbar__漢堡鍵 

\*                                      */

.header__navbarToggleBtn,
.header__goTopBtn {
  font-size: 22px;
  position: fixed;
  cursor: pointer;
  z-index: 999;
}
.header__navbarToggleBtn {
  color: $color-black;
  right: 0px;
  top: 25px;
  width: 50px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px 0 0 20px;
  padding-left: 12px;
  .fa-times {
    border-radius: 1em;
    width: 1em;
    color: $color-white;
    @include landscape-beyond1024 {
      color: $color-primary;
    }
  }
  @include desktop {
    display: none;
  }
}
.header__goTopBtn {
  right: 0;
  bottom: 0;
  width: 45px;
  height: 40px;
  padding-top: 5px;
  border-radius: 25px 10px 0 10px;
  @include desktop {
    left: auto;
    right: 20px;
    bottom: 20px;
    line-height: 45px;
    padding-top: 0;
    background: $color-mainGradient;
    @include circleEl(45px);
    i {
      color: $color-white;
      position: relative;
      bottom: 1px;
    }
  }
}

.js--header__navbarToggleBtn--toggle {
  border-radius: 0px;
  padding: 0;
  background-color: transparent;
  right: 10px;
}

.js--navScrollDisable {
  overflow: hidden !important;
}

/*                                      *\

          section title&img setting

\*                                      */

.section__titleWrap {
  margin-bottom: 60px;
  position: relative;
  .section__titleWrap__title {
    line-height: 1.5em;
    margin: 4px 0;
    background: $color-mainGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section__titleWrap__sectitle {
    display: inline-block;
    left: -50px;
    opacity: 0;
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0px;
      left: 0;
      background-color: #aaa;
    }
  }
}
// other setting
.secPhotos {
  color: $color-white;
  .section__titleWrap__title {
    background: transparent;
    color: $color-white;
    -webkit-text-fill-color: unset;
  }
  .section__titleWrap__sectitle:after {
    background-color: $color-white;
  }
}

// section的大圖
.section__wrapper__banner {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  @include desktop {
    max-width: 80%;
  }
}

/*                                      *\

                col-3-card 
                三欄的card 
          column 3 on desktop & pad
          column 1 on mobile

\*                                      */
.col-3-card {
  width: 70%;
  margin: 0 auto 100px;
  @include pad {
    width: 28%;
    float: left;
    margin: 0 2.5%;
  }
  @include desktop {
    min-height: 650px;
  }
}

//col-3 title

.col-3-card__titleWrap {
  margin: 18px 0 24px;
  padding: 0;
  position: relative;
  overflow: hidden;
  color: $color-black;
  @include desktop {
    margin: 18px 0 42px;
  }
  h5 {
    @include font-size(16);
  }
  .col-3-card__titleWrap__thirdtitle {
    text-align: right;
  }
  .col-3-card__titleWrap__title,
  .col-3-card__titleWrap__sectitle,
  .col-3-card__titleWrap__thirdtitle {
    line-height: 30px;
    line-height: 1.5em;
    position: relative;
    z-index: 1;
    @include pad {
      width: 100%;
    }
  }
  .col-3-card__titleWrap__title {
    @include font-size(24);
    font-weight: 900;
  }
}

.col-3-card__titleWrap__sectitle {
  margin-top: 4px;
  text-align: center;
  position: relative;
  background: $color-mainGradient;
  color: $color-white;
  &:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: #aaa;
    background-color: $color-white;
  }
  &:nth-last-of-type(1) {
    @include pad {
      @include font-size(12);
    }
  }
}

// col-3 content

.col-3-card__contentWrap {
  width: 100%;
  @include desktop {
    overflow: hidden;
  }
}

.col-3-card__contentWrap__content {
  width: 100%;
  position: relative;
  z-index: 1;
  .col-3-card__contentWrap__content__title {
    text-align: center;
    font-weight: normal;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    color: #222;
    padding-top: 0.2em;
    background-color: rgba(54, 139, 196, 0.1);
    @include font-size(16);
  }
  p {
    margin-bottom: 1em;
    margin-bottom: 2.5em;
    transition: 0.3s;
  }
}

////// other setting for col-3-card

.secSkills .col-3-card__titleWrap__title {
  color: $color-white;
  text-align: center;
  background: $color-mainGradient;
}

/*                                      *\

                numForTitle
                裝飾用數字標題

\*                                      */

.numForTitle-01,
.numForTitle-02,
.numForTitle-03 {
  position: relative;
  &:after {
    height: 0px;
    width: 60px;
    top: -37px;
    left: 30px;
    position: absolute;
    text-align: right;
    @include font-size(60);
    z-index: 9;
    line-height: 1em;
    color: rgba(51, 51, 51, 0.1);
    font-family: $font-main;
    @include pad {
      @include font-size(80);
      top: -55px;
      left: -30px;
    }
  }
}

.numForTitle-01::after {
  content: "01";
}

.numForTitle-02::after {
  content: "02";
}

.numForTitle-03::after {
  content: "03";
}

.secExp .numForTitle-01::after,
.secExp .numForTitle-02::after,
.secExp .numForTitle-03::after {
  top: -45px;
  left: 60px;
  @include pad {
    left: 30px;
    top: -30px;
  }
}

/*                                      *\

                footnote
                  頁尾

\*                                      */

.footNote {
  position: relative;
  margin-top: 60px;
  p {
    float: left;
  }
  .footNote__num {
    float: right;
  }
  @include desktop {
    p {
      float: right;
    }
    .footNote__num {
      @include font-size(76);
      font-weight: 900;
      line-height: 1em;
      position: absolute;
      right: 0;
      top: -140px;
    }
  }
}

.secPhotos {
  .footNote p {
    color: $color-white;
  }
  @include desktop {
    .footNote__num {
      display: none;
    }
  }
}

/*                                      *\

            section photography
                攝影作品排版

\*                                      */

.wrapper__imgwrap {
  line-height: 0;
  font-size: 0;
  .wrapper__imgwrap__wrap {
    display: inline-block;
    width: 33.3%;
    height: 33.3%;
    margin: 0;
    position: relative;
    z-index: 9;
    @include desktop {
      width: 24%;
      margin: 0 1% 1% 0;
    }
  }
  img,
  .wrapper__imgwrap__wrap a {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}

/*                                      *\

               skillProgress
                   技能

\*                                      */

.skillProgress {
  width: 100%;
  min-height: 112px;
  padding: 16px 0;
  margin-bottom: 8px;
  h5 {
    display: inline-block;
  }
  @include desktop {
    padding: 0;
    margin-bottom: 15px;
    height: 195px;
    position: static;
    h5 {
      display: block;
      position: relative;
      text-align: center;
    }
  }
}
.skillProgress__wrap {
  display: block;
  margin: 8px 0;
  @include font-size(16);
  h5,
  p {
    @include font-size(16);
    font-weight: normal;
  }
  @include pad {
    overflow: hidden;
    margin-top: 0;
  }
  @include desktop {
    margin-bottom: 16px;
    position: relative;
    h5 {
      background-color: rgba(54, 139, 196, 0.1);
    }
  }
}
.skillProgress__wrap__skillwrap {
  width: 35%;
  height: 16px;
  position: relative;
  float: right;
  margin: 1px 0;
  border: 2px solid $color-primary;
  .skillProgress__wrap__skillwrap__progress {
    height: 8px;
    margin: 4px;
    position: absolute;
    left: -2px;
    bottom: -2px;
    background: $color-mainGradient;
  }
  @include desktop {
    width: 100%;
    margin-left: auto;
    margin-top: 0;
    float: none;
  }
}

.skillLvlAI {
  width: 90%;
}
.skillLvlPS,
.skillLvlLR,
.skillLvlXD {
  width: 80%;
}

.skillLvlPR,
.skillLvlAE,
.skillLvlJQ {
  width: 50%;
}

.skillLvlWEB {
  width: 60%;
}

/*                                      *\

                  footer

\*                                      */

footer {
  height: 80px;
  text-align: center;
  padding-top: 16px;
  background-color: $color-black;
  color: $color-white;
}

/*                                      *\

            section deco- title 
                裝飾性標題 

\*                                      */

@include desktop-xl {
  .secID::after,
  .secBrandManul::after,
  .secSocialandDM::after,
  .secPhotos::after,
  .secExp::after,
  .secSkills::after {
    text-align: right;
    width: 45%;
    height: 46px;
    padding-right: 10px;
    line-height: 0.7em;
    position: absolute;
    right: 0;
    top: 110px;
    z-index: 0;
    font-family: $font-main;
    font-weight: 700;
    @include font-size(60);
    letter-spacing: -0.05em;
    color: rgba(11, 127, 190, 0.1);
    border-right: 60px solid rgba(11, 127, 190, 0.1);
  }

  .secID::after {
    content: "INDUSTRIAL DESIGN";
  }

  .secBrandManul::after {
    content: "GRAPHIC DESIGN";
  }

  .secSocialandDM::after {
    content: "GRAPHIC DESIGN";
  }

  .secPhotos::after {
    content: "PHOTOGRAPHIC ";
    color: rgba(255, 255, 255, 0.1);
    border-right: 60px solid rgba(255, 255, 255, 0.1);
    padding-right: 15px;
  }

  .secExp::after {
    content: "EXPERIENCE";
  }

  .secSkills::after {
    content: "SKILLS";
  }
}

/*                                      *\

                   tab 

\*                                      */

.tab {
  width: 100%;
  margin-top: 1em;
  @include desktop {
    width: 80%;
  }
  .tab__firstTtitle {
    color: $color-gray;
    margin: 100px 0 0.5em;
    font-weight: 900;
  }
  .tab__secTtitle {
    display: inline-block;
    margin-bottom: 15px;
    padding: 0 1em;
    font-weight: normal;
    text-align: left;
    color: $color-white;
    background: $color-mainGradient;
    @include pad {
      padding: 0.1em 3em;
    }
  }
  .tab__describeTtitle {
    margin-bottom: 36px;
  }
}

.tab__btnWrap {
  margin-top: 24px;
  font-size: 0;
  position: relative;
  border-bottom: 1px solid #eee;
  .tab__btn--in3 {
    width: 33.33333%;
  }
  .tab__btn--in2 {
    width: 50%;
  }
  @include desktop {
    border-top: 1px solid rgba(200, 200, 200, 0.5);
  }
}

.tab__btnWrap__btn {
  margin: 5px 0;
  padding: 0.2em 0;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  position: relative;
  color: $color-contentTxt;
  transition: 0.3s;
  cursor: pointer;
  &:before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    opacity: 0;
    background: $color-mainGradient;
    transition: 0.3s;
  }
  &:hover:before {
    opacity: 1;
    transition: 0.3s;
  }
  @include desktop {
    display: inline-block;
    width: auto;
    padding: 0.3em 0;
  }
}

.js--tab__btnActive {
  transition: 0.3s;
  z-index: 2;
  position: relative;
  &:after {
    content: "";
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    position: absolute;
    background: $color-mainGradient;
  }
}

.tab__contentWrap__content {
  padding: 1.5em 1em;
  display: none;
  overflow: hidden;
  margin-bottom: 32px;
}
.js--tab__contentWrap__content--active {
  display: block;
}

// tab without content
.tab__contentWrap--noneContent {
  margin-top: 16px;
}

//     tab 細節設定      \\

//   content只有圖片
.tab__contentWrap__content--onlyOneImg {
  position: relative;
  padding: 0;
  font-size: 0;
}

//   content裡的a連結的img
//   tab__contentWrap__content--img100  放在<img>
//   content裡有多個元素
//   tab__contentWrap__content--imgWrap100  放外層，包含多元素
.tab__contentWrap__content--img100,
.tab__contentWrap__content--imgWrap100 {
  display: block;
  height: auto;
  width: 100%;
  font-size: 0;
  overflow: hidden;
}

// img | mobile-2 pad-3 | 順序為3倍數的圖需搭配 mrPc0MoAuto
.img--mobile-row-2--pad-row-3 {
  width: 49%;
  margin: 0 1% 1% 0;
  @include mobileLarge {
    width: 32%;
    margin: 0 1.5% 1% 0;
  }
}

// img | mobile-2 pad-4 | 需搭配 mrPc0MoAuto
//.img--mobile-row-2--pad-row-4
.img--mobile-row-2--pad-row-4 {
  width: 48%;
  margin: 0 2% 2% 0;
  @include pad {
    width: 24%;
    margin-right: 1%;
  }
}

// imgwrap--mobile-row-1-mobileL-row-2
.imgwrap--mobile-row-1-mobileL-row-2 {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  @include mobileLarge {
    width: 49%;
    margin-right: 2%;
  }
  img {
    width: 100%;
  }
}

// wrap-mobile-row-1-mobileL-row-2
// 搭配imgwrap--mobileL-60 & imgwrap--mobileL-40
.imgwrap-mobile-row-1-mobileL-row-2 {
  width: 100%;
  display: inline-block;
  @include mobileLarge {
    float: left;
    padding-bottom: 8px;
  }
}
//imgwrap--mobileL-60
.imgwrap--mobileL-60 {
  @include mobileLarge {
    width: 60%;
    height: 100%;
  }
}
//imgwrap--mobileL-40
.imgwrap--mobileL-40 {
  @include mobileLarge {
    width: 37%;
    margin-right: 2%;
    height: 100%;
  }
}

// 圖+文搭配
.content--photowithcontent-photo {
  float: left;
  width: 100%;
  margin-bottom: 24px;
  @include pad {
    width: 50%;
  }
  @include desktop {
    width: 100%;
  }
  @include desktop-xl {
    width: 50%;
  }
}
.content--photowithcontent-content {
  float: left;
  margin: 8px 0;
  @include pad {
    width: 47%;
    margin-top: 0;
    margin-left: 3%;
  }
  @include desktop {
    width: 100%;
    margin: 0;
  }
  @include desktop-xl {
    width: 48%;
    margin-left: 2%;
  }
}

// tab content hover become to dark
// * with a link inside the tab
.tab__contentWrap__content--hover-become-dark {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
  &:hover:after {
    background-color: rgba(51, 51, 51, 0.5);
    transition: 0.3s;
  }
}

//  btn in the middle | portfolio link
.btnInMiddle {
  @include positionMid(absolute);
  z-index: 9;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  width: 230px;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 5px;
  color: $color-white;
  background: $color-mainGradient;
  .btnInMiddleArrow {
    position: relative;
    left: 0;
    transition: 0.3s;
  }
  &:hover .btnInMiddleArrow {
    left: 10px;
    transition: 0.3s;
  }
}

//  barandsection setting
.brandColorBox {
  float: left;
  width: 100%;
  margin-bottom: 16px;
  @include mobileLarge {
    width: 45%;
    margin: 8px 2.5% 0;
  }
  @include desktop {
    width: 140px;
  }
  .brandColor {
    width: 100%;
    height: 24px;
    margin-bottom: 8px;
  }
  .brandColorY {
    background-color: #fff100;
  }

  .brandColorG {
    background-color: #a9cf52;
  }

  .brandColorB {
    background-color: $color-black;
  }

  .brandColorW {
    background-color: $color-white;
    border: 1px solid #333;
  }
}

.brandTxt {
  float: left;
  margin: 16px 16px 16px 0;
  @include mobileLarge {
    width: 45%;
    min-width: 360px;
    margin-right: 2.5%;
    @include desktop {
      width: 100%;
    }
  }
  p {
    border-bottom: 1px solid $color-black;
    margin-bottom: 16px;
  }
  img {
    width: 100%;
    @include desktop {
      width: 350px;
    }
  }
}
