// color
$color-primary: #368cc4;
$color-secondary: #825eb2;
$color-textMark: #0b7ebe;
$color-gray: #777;
$color-black: #333;
$color-white: #fff;
$color-contentTxt: #6d808b;
$color-transparent: transparent;

$color-mainGradient: linear-gradient(30deg, $color-secondary, $color-primary);

// font
$font-main: "Noto Serif TC", "微軟正黑體", "Noto Serif", serif;
$font-size-base: 16;
