@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply text-dark relative;
		font-family: 'Noto Sans TC', sans-serif;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}
	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}
	h5 {
		@apply text-lg;
	}
	h6 {
		@apply text-base;
	}
	p {
		@apply text-base;
	}
	a {
		@apply text-primaryYellow-500;
	}
	button:focus {
		@apply outline-none;
	}
	.container {
		@apply px-8;
	}
	.row {
		@apply flex flex-wrap -mx-8;
	}
	.col {
		@apply px-8;
	}
}

@layer utilities {
	.text-shadow-title {
		/* primaryBlue-200 */
		text-shadow: -4px -4px #c7d3d5;
	}
	.custom-hoverGroup:hover .custom-hoverGroup\:hidden {
		@apply hidden;
	}

	/* list-connect */
	.list-connect-noDot {
		@apply relative;
	}
	.list-connect {
		@apply list-inside relative pl-5;
	}

	.list-connect.hover-animate li {
		@apply relative;
	}

	.list-connect.hover-animate li::before,
	.list-connect.hover-animate li::after {
		@apply absolute -left-5 rounded-full bg-primaryYellow-500;
		content: '';
		width: 0.4em;
		height: 0.4em;
		top: 0.65em;
	}
	.list-connect.hover-animate li::after {
		@apply bg-primaryYellow-700 hidden;
	}

	.list-connect.hover-animate li:hover::after {
		@apply animate-ping block;
	}

	.list-connect-noDot::before,
	.list-connect::before {
		@apply absolute left-0.5 top-0 w-0.5 bg-primaryYellow-500;
		content: '';
		height: calc(100% - 2em);
		margin-top: 1em;
	}
	.list-connect-noDot::after,
	.list-connect::after {
		@apply absolute left-0.5 bottom-0 w-0.5 bg-gradient-to-b from-primaryYellow-500 to-transparent;
		content: '';
		height: 1em;
	}
	.list-connect-noDot::before {
		@apply bg-gray-200;
	}
	.list-connect-noDot::after {
		@apply from-gray-200;
	}
	.list-connect-noDot::before,
	.list-connect-noDot::after {
		@apply -z-1;
		left: 0.7rem;
	}
}

@layer components {
	.index .is-affixed .inner-wrapper-sticky {
		@apply lg:ml-8;
	}
	.index .swiper-custom-active .swiper-slide-active .indexNumber,
	.index .swiper-custom-active .swiper-slide-active .content {
		@apply text-primaryYellow-500;
	}
}
