@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply text-dark relative;
		font-family: 'Noto Sans TC', sans-serif;
	}
	body::after {
		@apply absolute -z-1 left-0 top-0 bg-white opacity-5 w-full h-full;
		content: '';
		background-image: linear-gradient(#4c7379 1px, transparent 1px),
			linear-gradient(to right, #4c7379 1px, #ffffff 1px);
		background-size: 40px 40px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}
	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}
	h5 {
		@apply text-lg;
	}
	h6 {
		@apply text-base;
	}
	p {
		@apply text-base;
	}
	a {
		@apply text-primaryYellow-500;
	}
	.container {
		@apply px-8;
	}
	.row {
		@apply flex flex-wrap -mx-8;
	}
	.col {
		@apply px-8;
	}
}

@layer utilities {
	.custom-hoverGroup:hover .custom-hoverGroup\:hidden {
		@apply hidden;
	}

	/* list-connect */
	.list-connect-noDot {
		@apply relative;
	}
	.list-connect {
		@apply list-disc list-inside relative;
	}

	.list-connect li::marker {
		@apply text-primaryYellow-500;
	}

	.list-connect-noDot::before,
	.list-connect::before {
		@apply absolute left-0.5 top-0 w-0.5 bg-primaryYellow-500;
		content: '';
		height: calc(100% - 2em);
		margin-top: 1em;
	}
	.list-connect-noDot::after,
	.list-connect::after {
		@apply absolute left-0.5 bottom-0 w-0.5 bg-gradient-to-b from-primaryYellow-500 to-transparent;
		content: '';
		height: 1em;
	}
	.list-connect-noDot::before {
		@apply bg-gray-200;
	}
	.list-connect-noDot::after {
		@apply from-gray-200;
	}
	.list-connect-noDot::before,
	.list-connect-noDot::after {
		@apply -z-1;
		left: 0.7rem;
	}
}
